<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Olli - Single Product Landing Page</title>

	<% include head.ejs %>
	</head>

<body>

	<!-- Start Content -->
	<section id="main" class="wrapper">

		<!-- Start Header -->
		<header id="home" class="page-header-container">
			<div class="container-fluid page-header-content">
				<div class="page-overlay"></div>
				<h2>결제가 실패 되었습니다.</h2>
			</div>
		</header>
		<!-- End Header -->

		<!-- Start Navigation -->
		<nav id="navigation" class="navbar navbar-default navbar-page-top">
			<div class="container-fluid">

				<div class="container">

					<div class="navbar-button">
					</div>

					<div class="navbar-header">
						<a class="navbar-brand smooth" href="/">Olli.<span class="logo-promo-text">Perfect Gadgets</span></a> <!-- Title / Tagline -->
					</div>


					<div class="clearfix"></div>

				</div>
			</div>
		</nav>
		<!-- End Navigation -->

		<!-- Start Content -->
		<section id="content" class="page-container">
			<div class="container">
				<div class="row">
					<div class="col-md-8 page-content text-center">
						<h3 class="text-center">실제 결제가 이루어 졌을 경우 고객센터로 문의 주시면 빠르게 해결 해 드리겠습니다.</h3>
						<a style="width:50%; margin-top:10px;" class="button action-button-cta" href="/">홈으로</a>
					</div>
				</div>
			</div>
		</section>
		<!-- End Content -->

		<% include footer.ejs %>

	</section>
	<!-- End Content -->

<!-- Include JS -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/device.min.js"></script>
<script src="assets/js/retina.min.js"></script>
<script src="assets/js/nav.js"></script>
<script src="assets/js/smooth-scroll.min.js"></script>
<script src="assets/js/parallax.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/flexslider.js"></script>
<script src="assets/js/youtubebackground.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/init.js"></script>

<!--[if lte IE 9]>
<script src="assets/js/placeholders.js"></script>
<script src="assets/js/init-for-ie.js"></script>
<![endif]-->

</body>
</html>